@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';


/* .title {
  font-size: 2.5rem;
} */

#container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 25px;
  margin-top: 25px;
}

.container__avocado{
  position: relative;
  display: flex;
  width: 350px;
  height: 120px;
  flex-wrap: wrap;
  justify-content: center;
}

.container__avocado:hover{
  background-color: rgb(230, 240, 228);
  border-radius: 15px;
}

.img{
  width: 75px;
  height: 75px;
  border-radius: 75px;
  margin: auto 0;
  margin-top: 20px;
  margin-left: 20px;
}

.price{
  position: absolute;
  top: 35px;
  left: 200px;
  color: gray;
}

.title{
  margin-top: 17px;
  margin-left: 10px;
  font-weight: 500;
}